# Exclude personal Skyward export files
SkywardExport.json
output.html
data
# Exclude compiled pyc files
*.pyc
__pycache__
.idea
.vscode
encrypted.bin
aes.bin
config.json
user/settings_config.json
grades.db
ui/NewMainWindow2_ui.py
