CustomTitleBar>QLabel#titleLabel {
    color: rgba(255, 255, 255, 120);
}


/* --- TITLE BAR BUTTONS (FOCUS OUT) --- */

MinimizeButton {
    qproperty-normalColor: rgba(255, 255, 255, 120);
}


MaximizeButton {
    qproperty-normalColor: rgba(255, 255, 255, 120);
}


CloseButton {
    qproperty-normalColor: rgba(136, 136, 136, 255); /* alpha not working for some reason so uses alpha compositing instead*/
}
