QWidget#timerPage{
    background-color: $secondaryBackground;
    margin: 64px;
    border-radius: 10px;
    border: 1px solid $softBorderColor;
}


QWidget#timerPage > timerVLayout{
    margin: 64px;
}

