// @use "skyward";


$fontName: 'Google Sans';

QLabel {
    color: $textColor;
}

QStackedWidget#tabsStack > QWidget{
    border: 1px solid $hardBorderColor;
    background-color: $primaryBackground;
    border-top-left-radius: 10px;
}

QHBoxLayout#navContainer {
    background-color: $secondaryBackground;
}

NavigationPushButton {
    font: 16px $fontName;
}

Window {
    background-color: $secondaryBackground;
}


ScrollArea { 
    background: transparent; 
    padding-right: 16px; /* distance between scroll bar and content */
}

ScrollArea > QWidget > QWidget { 
    background: transparent; 
}
/* ScrollArea > QWidget > QScrollBar { background: palette(base); } */



