CustomTitleBar {
    background-color: transparent;
    /* background-color: rgb(32, 32, 32); */
}

CustomTitleBar>QLabel#titleLabel {
    color: $textColor;
    background: transparent;
    font: 12px 'Segoe UI';
    padding-left: 4px;
    margin-bottom: 4px;
}

CustomTitleBar>QLabel#iconLabel {
    background: transparent;
    margin-bottom: 8px;
    padding-bottom: 4px;
}

/* --- TITLE BAR BUTTONS --- */


MinimizeButton {
    qproperty-normalColor: $textColor;
    qproperty-normalBackgroundColor: transparent;
    qproperty-hoverColor: $textColor;
    qproperty-hoverBackgroundColor: $titleBackgroundHover;
    qproperty-pressedColor: $textColor;
    qproperty-pressedBackgroundColor: $titleBackgroundPressed;
}


MaximizeButton {
    qproperty-normalColor: $textColor;
    qproperty-normalBackgroundColor: transparent;
    qproperty-hoverColor: $textColor;
    qproperty-hoverBackgroundColor: $titleBackgroundHover;
    qproperty-pressedColor: $textColor;
    qproperty-pressedBackgroundColor: $titleBackgroundPressed;
}

CloseButton {
    qproperty-normalColor: $textColor;
    qproperty-normalBackgroundColor: transparent;
}
